body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bce8de;
    background-image: url('assets/sfondo.jpeg');
    background-size: contain; /* Mantiene le proporzioni dell'immagine */
    background-attachment: fixed; /* Fissa l'immagine di sfondo */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Overlay semi-trasparente */
    z-index: -1; /* Metti l'overlay dietro al contenuto */
}

header, footer {
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
    color: white;
    text-align: center;
    padding: 1em 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombra del testo */
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo chiaro semi-trasparente per migliorare la leggibilità */
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto; /* Centra la casella orizzontalmente e aggiunge margine verticale */
}

.tableau, .directions {
    margin-bottom: 20px;
}

.table {
    margin-bottom: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
